// Bootstrap overrides or custom styles

//Colors
$light-blue: #038aff;
$dark-blue: #161348;
$font-color: #152b5c;
$white: #FFFFFF;
$black: #000000;
$light-grey: #e1e8f0;
$grey-bg: #fafbff;
$grey-border: #e3e3e6;
$bg-mastercard: #1f1247;
$turquoise:#5ccaa7;
$yellow-bar: #ffbe3e;
$yellow: #febd3d;

//Font
$font-family-base: "Nunito Sans", sans-serif;

//Shadow 
$shadow-card: 0 0 6px rgba(0, 0, 0, 0.1);

//transition
$transition: all 0.3s ease;